.start-screen {
    //background-color: #31e64f;
    height: 100vh;
    width: 100vw;
    object-fit: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(red, yellow) !important;

    @media (max-width: 960px) {
        overflow: hidden;
    }

    img {
        box-sizing: border-box;
        height: 94vh;
        width: 75vw;
        object-fit: cover;

        @media (max-width: 960px) {
            overflow: hidden;
            height: 100vh;
            width: 100vw;
        }
    }

}

.start-title {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;

    p {
        font-weight: 800;
        font-size: 80px;
        line-height: unset;
        line-height: 80px;

        @media (max-width: 960px) {
            font-weight: 600;
            font-size: 60px;
        }
    }
}


.start-img {
    border: 12px solid rgb(211 88 10 / 79%);
    
}

.start-box-label {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;

    @media (max-width: 960px) {
        bottom: 90px;
    }


    img {
        width: 40vw;
        height: auto;
        cursor: pointer;

        @media (max-width: 960px) {
            overflow: hidden;
            height: 100px;
            width: 70vw;
        }

        &:hover {
            filter: brightness(1.25);
        }
    }

}